<!-- templates/header/header.html -->
{% load static %}
<!-- CSS files -->
<link rel="stylesheet" href="{% static 'css/base.2.0.8.min.css' %}" type="text/css" media="screen">

<!-- Favicon -->
{% include "favicon.html" %}

{% if chord_options %}
<!-- JavaScript data -->
<script type="text/javascript">
  var voicing_data = {{ chord_json_data|safe }};
</script>
{% elif scale_json_data %}
<!-- JavaScript data -->
<script type="text/javascript">
  var scale_data = {{ scale_json_data|safe }};
</script>
{% endif %}

{% if chord_options %}
  <!-- Fretboard Form Script -->
  <script src="{% static 'js/fretboard_chords.2.0.3.min.js' %}"></script>
{% elif scale_json_data %}
  <script src="{% static 'js/fretboard_scales.2.0.4.min.js' %}"></script>
{% endif %}
