appnope
astroid
attrs
backcall
bleach
blessed
botocore
cached-property
cement
certifi
cffi
chardet
colorama
coverage
cssselect
cssselect2
decorator
defusedxml
Django
django-allauth
django-bower
django-ckeditor
django-coverage
django-coverage-plugin
django-debug-toolbar
django-extensions
django-javascript-settings
django-js-asset
django-localflavor
django-multiselectfield
django-phone-field
django-scheduler
docopt
docutils
entrypoints
html5lib
httplib2
icalendar
idna
ipykernel
ipython
ipython-genutils
ipywidgets
iso8601
isort
jedi
Jinja2
jmespath
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
lazy-object-proxy
lxml
MarkupSafe
mccabe
mistune
mysqlclient
nbconvert
nbformat
notebook
numpy
oauthlib
pandocfilters
parso
pathspec
pdfkit
pdfrw
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
psycopg2
ptyprocess
pycparser
Pygments
pylint
PyPDF2
Pyphen
pyquery
pyrsistent
python-dateutil
python-gettext
python3-openid
pytz
PyYAML
pyzmq
qtconsole
reportlab
requests
requests-oauthlib
semantic-version
Send2Trash
six
sqlparse
tabulate
termcolor
terminado
testpath
texttable
tinycss2
tornado
traitlets
typed-ast
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
wrapt
