appnope
argon2-cffi
asgiref
async-generator
attrs
backcall
bleach
certifi
cffi
decorator
defusedxml
Django
django-extensions
entrypoints
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
MarkupSafe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
psycopg2
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
Send2Trash
six
sqlparse
terminado
testpath
thefuzz[speedup]>=0.19.0
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
zipp