appnope==0.1.0
astroid==2.2.5
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
blessed==1.15.0
botocore==1.12.120
cached-property==1.5.1
cement==3.0.2
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
colorama==0.4.1
coverage==4.5.3
cssselect==1.0.3
cssselect2==0.2.1
decorator==4.4.0
defusedxml==0.5.0
Django==2.2
django-allauth==0.39.1
django-bower==5.2.0
django-ckeditor==5.7.0
django-coverage==1.2.4
django-coverage-plugin==1.6.0
django-debug-toolbar==1.11
django-extensions==2.1.6
django-javascript-settings==1.1.2
django-js-asset==1.2.2
django-localflavor==2.1
django-multiselectfield==0.1.8
django-phone-field==1.7.0
django-scheduler==0.8.8
docopt==0.6.2
docutils==0.14
entrypoints==0.3
html5lib==1.0.1
httplib2==0.12.1
icalendar==4.0.3
idna==2.8
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
iso8601==0.1.12
isort==4.3.16
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
lazy-object-proxy==1.3.1
lxml==4.3.2
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mysqlclient==1.4.2.post1
nbconvert==5.5.0
nbformat==4.4.0
notebook==5.7.8
oauthlib==3.0.1
pandocfilters==1.4.2
parso==0.4.0
pathspec==0.5.9
pdfkit==0.6.1
pdfrw==0.4
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.4.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psycopg2==2.7.7
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.2
pylint==2.3.1
PyPDF2==1.26.0
Pyphen==0.9.5
pyquery==1.4.0
pyrsistent==0.14.11
python-dateutil==2.8.0
python-gettext==4.0
python3-openid==3.1.0
pytz==2018.9
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.5.1
reportlab==3.5.13
requests==2.21.0
requests-oauthlib==1.2.0
semantic-version==2.6.0
Send2Trash==1.5.0
six==1.12.0
sqlparse==0.3.0
tabulate==0.8.3
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
texttable==1.6.1
tinycss2==1.0.2
tornado==6.0.2
traitlets==4.3.2
typed-ast==1.3.1
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
widgetsnbextension==3.4.2
wrapt==1.11.1
