{% load static %}
<div id="menuToggle">
    <input type="checkbox" id="menuCheckbox">
    <img src="{% static 'media/svg/sidebar_icon.svg' %}" alt="Menu Icon" class="menu-icon">
    <nav id="menu">
      <a href="#"><i class="fa fa-home"></i> Home</a>
      <a href="#"><i class="fa fa-music"></i> Scales</a>
      <a href="#"><i class="fa fa-chord"></i> Arpeggios</a>
      <a href="#"><i class="fa fa-guitar"></i> Chords</a>
      <a href="#"><i class="fa fa-info-circle"></i> About</a>
    </nav>
  </div>
  