{% load static %}
<div id="menuToggle">
    <input type="checkbox" id="menuCheckbox">
    <img src="{% static 'media/svg/sidebar_icon.svg' %}" alt="Menu Icon" class="menu-icon">
    <nav id="menu">
        <div class="dropdown">
            <input type="checkbox" id="scalesToggle" class="dropdown-toggle" onclick="toggleDropdown(this)">
            <label for="scalesToggle"><i class="fa fa-music"></i> Scales</label>
            <div class="dropdown-menu">
                <ul>
                    {% for option in scales_options %}
                    <li>
                        <a href="?models_select=1&root=1&notes_options_select={{ option.id }}&position_select=0">
                            {{ option.note_name }}
                        </a>
                    </li>
                    {% empty %}
                    <li>No scales available</li>
                    {% endfor %}            
                </ul>
            </div>
        </div>
        <div class="dropdown">
            <input type="checkbox" id="arpeggiosToggle" class="dropdown-toggle" onclick="toggleDropdown(this)">
            <label for="arpeggiosToggle"><i class="fa fa-music"></i> Arpeggios</label>
            <div class="dropdown-menu">
                <ul>
                    {% for option in arpeggios_options %}
                    <li>
                        <a href="/arpeggios?models_select=2&root=1&notes_options_select={{ option.id }}&position_select=0">
                            {{ option.note_name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="dropdown">
            <input type="checkbox" id="chordsToggle" class="dropdown-toggle" onclick="toggleDropdown(this)">
            <label for="chordsToggle"><i class="fa fa-music"></i> Chords</label>
            <div class="dropdown-menu">
                <ul>
                    {% for option in chords_options %}
                    <li>
                        <a href="/chords?models_select=3&root=1&type_options_select={{ option.type_name|urlencode }}">
                            {{ option.type_name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <a href="/about"><i class="fa fa-info-circle"></i> About</a>
    </nav>
</div>
