body {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}
.fretboard {
  display: grid;
  grid-column-gap: 0 !important;
  grid-template-columns: auto auto auto auto auto auto
  auto auto auto auto auto auto auto auto auto auto auto;
  background-image: url(/static/media/fretboard_1400.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: top;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 0;
  width: 1400px;
  font-size: 19px;
}
#fretboardcontainer{
  width: 1400px;
  margin:auto;
}
.eString, .bString, .gString {
  border-top: 2px solid rgb(136,138,154);
}
.dString, .AString, .ELowString {
  border-top: 2.5px solid rgb(171,173,193);
}
.fret .note {
  color: white;
}
.fret.one {
  padding-left: 0;
  padding-right: 0;
}

.fret.one.laststring {
  border-left: 0px;
}
.laststring {
 border-right: 0px;
}
.note {
  position: absolute;
  left: -15px;
  top: 0;
}
.notename, .tensionname {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0.85;
}
.note > .tone {
  visibility: hidden;
  vertical-align: middle;
  max-height: 30px;
  max-width: 30px;
}
.active {
  visibility: unset !important;
}
a .active {
  cursor: pointer;
}
#fretboardcontainer{
  margin-top: 4em;
}
#formselect{
  text-align: center;
}
h1 {
  text-align: center;
}
.note_name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fret {
  position: relative;
  text-align: center;
  height: 50px;
  /* IMPORTANT */
  width: 83px;
}
@media only screen and (max-width: 360px) {
  .fret {
    height:42px
  }
  .fretboard {
    width: 860px;
  }
}
.nofret{
  font-size: 20px;
  text-align: center;
  color: #1D262A;
  /* IMPORTANT */
  width: 82px;
}
.note-click {
  position: absolute;
  top: -17px;
}
.notename, .tensionname{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}
@media only screen and (max-width: 1430px) {
  .fretboard {
    background-image: url(/static/media/fretboard_1000.png);
    width: 1010px;
    padding-left: 14px;
    margin:auto;
    background-position-y: top;
  }
  .eString, .bString, .gString {
    border-top: 1.5px solid rgb(136,138,154)!important;
  }
  .dString, .AString, .ELowString {
    border-top: 2px solid rgb(171,173,193)!important;
  }
  #fretboardcontainer{
    width: 1000px;
    margin:auto;
  }
}
.fret {
  position: relative;
  text-align: center;
  height: 50px;
  /* IMPORTANT */
  width: 82px;
}
.nofret{
  font-size: 20px;
  text-align: center;
  color: #1D262A;
  /* IMPORTANT */
  width: 82px;
}
.note-click {
  position: absolute;
  top: -17px;
}
@media only screen and (max-width: 1430px) {
  .fret {
    width: 59.7px;
  }
  .nofret{
    width: 58.8167px;
  }
}
@media only screen and (max-width: 1050px) {
  #fretboardcontainer{
    width: 100%;
    margin: auto;
  }
  .fret {
    width: 100%;
  }
  .nofret{
    width: 39.2px;
  }
  .fretboard{
    width: 100%;
    background-size: contain;
    margin: auto;
    background-position-y: top;
    padding-left: 13px;
    background-image: url(/static/media/fretboard_5.png);
  }
  .note > .tone {
    max-height: 26px;
    max-width: 26px;
  }
  .fret .note {
    font-size: 14px;
    padding-top: 2px;
  }
}
@media only screen and (max-width: 982px) {
  .fretboard{
      background-image: url(/static/media/fretboard_4.png);
  }
}
@media only screen and (max-width: 945px) {
  .fretboard{
      background-image: url(/static/media/fretboard_3.png);
  }
}
@media only screen and (max-width: 895px) {
  .fretboard{
      background-image: url(/static/media/fretboard_2.png);
  }
  @media only screen and (max-width: 820px) {
    .fretboard{
        background-image: url(/static/media/fretboard_1.png);
    }
}
@media only screen and (max-width: 780px) {
  #fretboardcontainer{
    margin-top: 16px;
  }
  .fretboard{
  background-image: url(/static/media/fretboard_sq.png);
  background-size: contain;
  }
  .note > .tone {
    max-height: 26px;
    max-width: 26px;
  }
}
  @media only screen and (max-width: 700px) {
    #fretboardcontainer{
      margin-top: 16px;
    }
  }
  @media only screen and (max-width: 620px) {
    #fretboardcontainer{
      margin-top: 10px;
    }
  }
  @media only screen and (max-width: 550px) {
    #fretboardcontainer{
      margin-top: 16px;
    }
  }
  @media only screen and (max-width: 500px) {
    #fretboardcontainer{
      margin-top: 16px;
    }
  }
  @media only screen and (max-width: 442px) {
    #fretboardcontainer{
      margin-top: 16px;
      overflow-x: scroll;
      scroll-behavior: smooth;
    }
  }
  @media only screen and (max-width: 545px) {
    }
    .fretboard{
      background-image: url(/static/media/fretboard_5.png);
      width: 1000px;
      padding-left: 14px;
      margin:auto;
      background-position-y: top;
    }
}
@media only screen and (max-width: 772px) {
  .mbs {
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 894px) {
  .fretboard {
    width: 100%;
  }
  .fret {
    height: 42px
  }
}
@media only screen and (max-width: 795px) {
  .fretboard {
    width: 100%;
  }
  .fret {
    height: 38px
  }
}
@media only screen and (max-width: 743px) {
  .fretboard {
    width: 100%;
  }
  .fret {
    height: 34px
  }
}
@media only screen and (max-width: 668px) {
  .fretboard {
    width: 668px;
    padding-left: 10px;
  }
  .fret {
    height: 34px
  }
}
/* Navbar  */
.sfbsf-text {
  display: inline-block;
}
/* The container must be positioned relative: */
.sfbsf, .sfbsfnr, .sfbsfpos, .sfbsfnos {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-color: #0F262B;
  display: inline-block;
  width: 11rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
select {
  display: none;
}
.sfbsfnr-text, .sfbsfpos-text, {
  display: inline-block;
}

.sfbsfpos > .slit, .sfbsfnr > .slit, .sfbsfnos-text {
  height: auto;
}
.sese {
  background-color: #fff;
  border-radius: 18px 0 18px 18px;
  box-shadow: 0px 2px 2px 1px #00000005;
  padding: 6px 10px;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #BABABAAD;
  cursor: pointer;
}
/* Style the arrow inside the select element: */
.sese:after {
  position: absolute;
  content: url(/static/media/select_field/arrow/arrow_after.png);
  top: 10px;
  right: 25px;
  width: 0;
  height: 0;
}
.sese.slar-active{
  border-radius: 18px 0 0 0;
  box-shadow: none;
}
/* Point the arrow upwards when the select box is open (active): */
.sese.slar-active:before {
  content: url(/static/media/select_field/arrow/arrow_before.png);
  margin-left: -18px;
  margin-right: 8px;
}
.sese.slar-active:after {
  content: '';
}
/* Style items (options): */
.slit {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0px 0px 18px 18px;
  overflow-y: scroll;
  height: 600%;
  background: #fffffff2;
}
/* Hide the items when the select box is closed: */
.sehi {
  display: none;
}
.swasd:before {
  content: url(/static/media/select_field/arrow/arrow_before.png);
  margin-left: -18px;
  margin-right: 8px;
}
#catsfbsf > .slit {
  overflow-y: unset;
  height: auto;
}
.slit div {
  padding: 6px 10px;
  border-right: 1px solid;
  border-left: 1px solid;
  border-right-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #0F262B4D;
  cursor: pointer;
}
#catsfbsf > .slit div:last-of-type, .sfbsfnr > .slit div:last-of-type,
.sfbsfpos > .slit div:last-of-type {
  border-bottom: 1px solid;
  border-bottom-color: currentcolor;
  border-color: #0F262B4D;
  border-radius: 0 0 18px 18px;
}
.slit div:hover, .swasd {
  background-color: #C7B22E20;
}
/* Form Styling */
@media only screen and (max-width: 936px) {
  #catsfbsf {
    width: 90%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  .sfbsf, .sfbsfnr, .sfbsfpos, .sfbsfnos {
    width: 90%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
}
.analysis_container {
  font-size: 19px;
  padding-bottom: 1%;
}
form button {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  box-shadow: 0 4px #791006;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  background: #AA1A0D;
  border-width: 0.5px;
  color: #fff;
  border-color: #aa1a0d;
}
form button:hover {
  transform: translate(0, 1.5px);
  box-shadow: 0 2.5px #7E1444;
  cursor: pointer;
}
.form-actions {
  padding-top: 1em;
}
footer a{
  margin-left: 1rem;
}
footer div{
  text-align: center;
  margin: auto;
}
#github:hover .st0{
  fill:rgb(171,173,193);
}
.mbs-portrait{
  display:none;
  width: 100vw;
  height: 100vh;
}
@media only screen and (orientation:portrait) {
 .mbs{
   display:none;
 }
 .mbs-portrait{
   display:block
 }
}
.rotate-container{
  margin:auto;
}
.rotate-container{
  text-align: center;
  position: fixed;
  top: 25%;
  width: 100vw;
}
