.info-icon {
    width: 33px; /* Adjust the size of the icon as needed */
    height: 33px;
    cursor: pointer;
    display: inline-block;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1;
}
