  #menuToggle {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
  
.menu-icon {
    width: 33px; /* Adjust the size of the icon as needed */
    height: 33px;
    margin-bottom: 5px;
    z-index: 1000;
}
  
#menuToggle span {
    display: none; /* Hide the span elements as we are using the SVG icon */
}
  
#menuToggle input {
    display: none;
}
  
#menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #ededed;
    transition: left 0.3s ease-in-out; /* Change the duration and transition type as needed */
    padding-top: 60px;
    overflow-y: scroll;
    z-index: 10;
}
  
#menu a, .dropdown label {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #232323;
}
  
#menu a:hover, .dropdown label:hover {
    background: #f1f1f1;
}
  
.dropdown {
    position: relative;
}
  
.dropdown-toggle {
    display: none;
}
  
.dropdown-menu {
    max-height: 300px; /* Limit the height of the dropdown */
    overflow-y: auto; /* Scrollbar if the options exceed the height */
    display: none;
    background: #f9f9f9;
    border: 1px solid #ccc;
    position: relative;
    width: 100%; /* Ensure the dropdown menu takes the full width of the parent */
}
  
.dropdown-toggle:checked + label + .dropdown-menu {
    display: block;
}
  
.dropdown-menu select {
    width: 100%;
    padding: 10px;
    border: none;
    background: transparent;
}

/* Remove bullet points from the lists */
.dropdown-menu ul {
    list-style-type: none;
    padding-left: 0; /* Remove default padding */
}

.dropdown-menu ul li {
    padding-left: 0; /* Ensure there is no padding in list items */
}
