/* overlay-menu-chords.css */
.overlay-icon {
    width: 33px;
    height: 33px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
}

.overlay-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay-content {
    background: white;
    padding: 10rem;
    border-radius: 8px;
    max-width: 90%;
    max-height: 80%;
    overflow: auto;
    position: relative;
    font-size: 14pt;
}

.step {
    display: none !important;
}

.step.active {
    display: grid !important;
}

button {
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 14pt;
    border: none;
    background-color: white;
    color: #1D262A;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    color: #FF6F5A;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.grid-item {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14pt;
    min-width: 80px;
    max-width: 120px;
    word-wrap: break-word;
}

.grid-item:hover {
    background-color: #ddd;
}

#positionStepChords > .grid-container {
    grid-template-columns: repeat(3, 1fr);
}

#rootStepChords > .grid-container {
    grid-template-columns: repeat(4, 1fr);
}

#typeStepChords > .grid-container {
    grid-template-columns: repeat(4, 1fr);
}

#chordStep > .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#noteRangeStep > .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

/* Close button with custom SVG */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url('/static/media/svg/close_menu.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    border: none;
}

#overlayToggle, #overlayToggleChords {
    position: fixed;
    top: 25px;
    left: 70px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/* Adjustments for Mobile and Tablets */
@media only screen and (max-width: 768px) {
    .overlay-content {
        padding: 5rem;
        max-width: 95%;
        max-height: 90%;
    }

    button {
        padding: 8px 16px;
        font-size: 14pt; 
    }

    .grid-item {
        padding: 15px;
        font-size: 14pt;
    }

    .close-button {
        width: 25px;
        height: 25px;
    }
    #rootStepChords > .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px) {
    .overlay-content {
        padding: 3rem;
        max-width: 98%;
        max-height: 95%;
    }

    button {
        padding: 6px 12px;
        font-size: 14pt;
    }

    .grid-item {
        padding: 10px;
        font-size: 14pt;
    }

    .close-button {
        width: 20px;
        height: 20px;
    }
    .fret .note {
        font-size: 10pt;
    }
}
