<!--- Analysis Container -->
<div class="analysis_container" style="text-align: center;">
    <h2>{{ selected_root_name }} {{ selected_notes_name }}</h2>
    Tensions:
    {% for tension in tensions %}
    <b>{{ tension }}</b>
    {% endfor %}
    <br>
    Notenames:
    {% for note_name in note_names %}
    <b>{{ note_name }}</b>
    {% endfor %}
    {% if chord_name %}
    <br>
    Chord:
    <b>{{ chord_name }}</b>
    {% endif %}
    <br>
    <b><button id="show_note_name_button" type="button" onclick="getNoteNameFromData()">Show Note Names</button></b>
</div>