<!-- templates/about.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  
  {% include "header/header.html" %}

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="title" content="Fretboard-Position-Finder">
  <meta name="description" content="Position Generator on Guitar-Fretboard for Scales, Arpeggios, Chords in all 12 Keys">

  <!-- Social Media Meta -->
  <meta property="og:title" content="Guitar Positions">
  <meta property="og:description" content="Position Generator on Guitar-Fretboard for Scales, Arpeggios, Chords in all 12 Keys">
  <meta property="og:image" content="{% static 'thumbnail/facebook/thumb_24.jpg' %}">
  <meta property="og:url" content="https://guitar-positions.org">

  <meta name="twitter:title" content="Guitar Positions">
  <meta name="twitter:description" content="Position Generator on Guitar-Fretboard for Scales, Arpeggios, Chords in all 12 Keys">
  <meta name="twitter:image" content="{% static 'thumbnail/twitter/thumb_24.jpg' %}">
  <meta name="twitter:card" content="summary_large_image">

</head>
<body>
  {% include "sidebar/sidebar.html" %}
  
<div class="mbs">
   
<h1>About</h1>

<p>This web app was born out of a passion for supporting guitarists of all levels in expanding their skills and developing a deeper understanding of their instrument. As a guitar teacher and musician, it was my heartfelt desire to create a tool that would not only support my students but also assist me in my daily practice.</p>

<p>Guitar-positions.org generates all possible fingerings for guitarists in all keys and positions. Our app is organized into categories to make navigation easier:</p>
<ul>
    <li><strong>Scales:</strong> From pentatonic scales to melodic minor scales and symmetrical scales.</li>
    <li><strong>Arpeggios:</strong> Triads- and Seventh Chord-Arpeggios.</li>
    <li><strong>Chords:</strong> Triads and Seventh Chords.</li>
</ul>

<p>Whether you are looking for simple triads, spread triads, or more complex chords, our app provides you with a comprehensive collection of fretboard diagrams and positions. We are particularly proud of the integration of Ted Greene's V-System, which helps you find and master all the notes on the guitar fretboard.</p>

<p>Our app is ideal for students who want to improve their technique as well as advanced guitarists seeking new challenges. With guitar-positions.org, you can take your musical journey to the next level.</p>

<p>This app is an open-source project. We welcome anyone who wishes to contribute to the code or provide feedback. You can reach us anytime at <a href="mailto:lukas@schoensgibl.com">lukas@schoensgibl.com</a>.</p>

<p>Enjoy practicing and discovering!</p>

<h2>Keyboard Shortcuts</h2>
<p>Feel free to use the following keyboard shortcuts:</p>
<ul>
    <li><strong>Escape:</strong> Close overlay windows.</li>
    <li><strong>I:</strong> Toggle information display.</li>
    <li><strong>Left Arrow:</strong> Navigate to the previous position.</li>
    <li><strong>Right Arrow:</strong> Navigate to the next position.</li>
    <li><strong>Up Arrow:</strong> Increase root note one half step.</li>
    <li><strong>Down Arrow:</strong> Decrease root note one half step.</li>
    <li><strong>P:</strong> Overlay Menu for Postions.</li>
</ul>

</div>

<footer>
    {% include "footer/scripts.html" %}
    {% include "footer/footer.html" %}
</footer>

</body>
</html>
