{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guitar Positions</title>
  
  <!-- CSS files -->
  <link rel="stylesheet" href="{% static 'v2/css/fretboard.2.0.0.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'v2/css/form.2.0.0.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'v2/css/overlay-menu.1.0.0.css' %}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

  <!-- Favicon -->
  {% include "favicon.html" %}

  <!-- JavaScript data -->
  {% if chord_options %}
  <script type="text/javascript">
    var voicing_data = {{ chord_json_data|safe }};
  </script>
  {% else %}
  <script type="text/javascript">
    var scale_data = {{ scale_json_data|safe }};
  </script>
  {% endif %}

  <!-- Base JavaScript -->
  <script src="{% static 'v2/js/base.2.0.0.js' %}"></script>

  <!-- Meta Tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="title" content="Fretboard-Position-Finder">
  <meta name="description" content="Discover all possible fingerings on the guitar fretboard for scales, arpeggios, and chords in all 12 keys. Perfect for guitarists of all levels to expand their skills.">

  <!-- Social Media Meta -->
  <meta property="og:title" content="Guitar Positions">
  <meta property="og:description" content="Discover all possible fingerings on the guitar fretboard for scales, arpeggios, and chords in all 12 keys. Perfect for guitarists of all levels to expand their skills.">
  <meta property="og:image" content="{% static 'thumbnail/v2/facebook/home.jpg' %}">
  <meta property="og:url" content="https://guitar-positions.org">

  <meta name="twitter:title" content="Guitar Positions">
  <meta name="twitter:description" content="Discover all possible fingerings on the guitar fretboard for scales, arpeggios, and chords in all 12 keys. Perfect for guitarists of all levels to expand their skills.">
  <meta name="twitter:image" content="{% static 'thumbnail/v2/twitter/home.jpg' %}">
  <meta name="twitter:card" content="summary_large_image">


  {% block head %}
  {% endblock %}
</head>
<body>
  {% include "sidebar/sidebar.html" %}
  {% if chord_options %}
    {% include "overlay-menu/overlay-menu-chords.html" %}
  {% else %}
    {% include "overlay-menu/overlay-menu.html" %}
  {% endif %}

  <!-- Info Icon -->
  <div id="infoToggle">
    <img src="{% static 'media/svg/info-icon.svg' %}" alt="Info Icon" class="info-icon">
  </div>

  {% if chord_options %}
  <script src="{% static 'v2/js/overlay-menu-chords.js' %}"></script>
  {% else %}
  <script src="{% static 'v2/js/overlay-menu.js' %}"></script>
  {% endif %}
  <div class="mbs">
    {% block heading %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% if chord_options %}
      {% include "forms/fretboard_form_chords.html" %}
    {% else %}
      {% include "forms/fretboard_form.html" %}
    {% endif %}
    <br>

    {% if chord_options %}
      {% include "analysis/container_chords.html" %}
    {% else %}
       {% include "analysis/container_scales.html" %}
    {% endif %}
    {% include 'fretboard_fretboard.html' %}
  </div>

  {% block fretboard %}
  {% endblock %}

  <footer>
    {% include "footer/footer.html" %}
  </footer>

  {% if chord_options %}
    <!-- Fretboard Form Script -->
    <script src="{% static 'v2/js/fretboard_chords.2.0.0.js' %}"></script>
  {% else %}
    <script src="{% static 'v2/js/fretboard_scales.2.0.0.js' %}"></script>
  {% endif %}
  {% block footer %}
  {% endblock %}
</body>
</html>
