{% load static %}

<!-- JQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- CSS fretboard -->
<link rel="stylesheet" href="{% static "css/fretboard.css" %}" type="text/css" media="screen">

<!-- Dosis Font -->
<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

<!-- Play function -->
<script type="text/javascript">
  function playtone(x, y){
    var audio = new Audio('static/media/tone_sounds/' + x + '.wav');
    var string = '.' + y
    audio.play();
    if ( $(string + ' img.tone.' + x + '.active').hasClass( 'root') ) {
    $(string + ' img.tone.' + x + '.active').attr('src', '/static/media/red_dot_active.svg');
    setTimeout(function () {
      $(string + ' img.tone.' + x + '.active').attr('src', '/static/media/red_dot.svg');
    }, 300)
    }
    else {
    $(string + ' img.tone.' + x + '.active').attr('src', '/static/media/yellow_dot_active.svg');
    setTimeout(function () {
      $(string + ' img.tone.' + x + '.active').attr('src', '/static/media/yellow_dot.svg');
    }, 300)
    }
  }
</script>
<script type="text/javascript">
  var voicing_data = {{ chord_json_data|safe }}

  function getTonesFromData(x, y){
    /* Resetting Fretboard */
    $('img.tone').removeClass('active')
    $('.notename').removeClass('active')
    $('.note').removeClass('active')
    $('.tensionname').remove()
    $('.tone').attr('src', '/static/media/yellow_dot.svg')

    /* x sets the id of inversions */
    var i = 0;
    for (var key in voicing_data[y][x][0]) {
      if (voicing_data[y][x][0].hasOwnProperty(key)) {
        var tone = voicing_data[y][x][0][key][0]
        var tone_name = voicing_data[y][x][0][key][2]

        var QuerySelect = '.' + key + ' img.tone.' + tone;
        $(QuerySelect).addClass('active');
        var QuerySelect = '.' + key + ' .notename.' + tone;
        $(QuerySelect).addClass('active');
        /* Check every note that has a defined Query for not activating all chord tones */
        var QuerySelect = '.' + key + ' .note.' + tone;
        $(QuerySelect).addClass('active');
      }
    }

    /* Change for RootNote Color */
    var string_array = ['eString', 'bString', 'gString', 'dString', 'AString', 'eLowString']
    for (var key in voicing_data.root) {
      if (voicing_data.root.hasOwnProperty(key)) {
        var root = voicing_data.root[key]
        for (i = 0; i < string_array.length; i++) {
          string = string_array[i];
          QuerySelect = '.' + string + ' img.tone.active.' + root
          $(QuerySelect).attr('src', '/static/media/red_dot.svg');
          $(QuerySelect).addClass('root');
        }
      }
    }
  }

</script>
{% block header %}
{% endblock %}

<div class="mbs">

{% block heading %}
{% endblock %}

<form id="fretboard_form" action="" method="get" style="text-align: center;">
  <div class="sfbsf" id="catsfbsf">
    <select name="models_select" id="models_select">
      {% for category_option in category %}
      {% if selected_category == category_option.id %}
      <option value="{{ category_option.id }}" id="cat{{ category_option.id }}" selected>{{ category_option.category_name }}</option>
      {% else %}
      <option value="{{ category_option.id }}" id="cat{{ category_option.id }}">{{ category_option.category_name }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="sfbsf">
    <select name="root" id="root">
      <option value="{{ root_id }}" selected>{{ root_name }}</option>
      {% for option in root_options %}
      <option value="{{ option.id }}">{{ option.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="sfbsf">
    <select name="type_options_select" id="type_options_select">
      <option value="{{ type_options|first }}">{{ type_options|first }}</option>
      {% for option in type_options %}
      <option value="{{ option }}">{{ option }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="sfbsf">
    <select name="chords_options_select" id="chords_options_select">
      <option value="{{ chord_options|first }}">{{ chord_options|first }}</option>
      {% for option in chord_options %}
      {% if selected_chord == option %}
      <option value="{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ option }}">{{ option }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="sfbsfnr">
    <select name="note_range" id="note_range">
      <option value="e - d">e - d</option>
      {% for option in range_options %}
      <option value="{{ option.range }}">{{ option.range }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="sfbsfpos">
    <select name="position_select" id="position_select">
      <option value="Basic Position">Basic Position</option>
      {% for option in position_options %}
      <option value="option.inversion_order">{{ option.inversion_order }}</option>
      {% endfor %}

    </select>
  </div>
  <button id="show_tension_button" type="button" onclick=show_tension_notes() style="width: 8em;">Show Tensions</button>

</form>
<br>
<button onclick="playNoteNames()" type="button" name="button">PLAY</button>
{% block form %}
{% endblock %}

<div id="fretboardcontainer" class="fretboardcontainer">
  <div class="fretboard">
    <!-- e-String -->
    <div class="fret one eString">
      <a onclick="playtone('f2','eString')" class="note-click f2">
        <div class="note f2">
          <img class="tone f2 root" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename f2">
            F2
          </div>
        </div>
      </a>
    </div>
    <div class="fret two eString">
      <a onclick="playtone('gb2','eString')" class="note-click gb2">
        <div class="note gb2">
          <img class="tone gb2" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename gb2">
            Gb2
          </div>
        </div>
        <div class="note fs2">
          <img class="tone fs2" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename fs2">
            F#2
          </div>
        </div>
      </a>
    </div>
    <div class="fret three eString">
      <a onclick="playtone('g2','eString')" class="note-click g2">
        <div class="note g2">
          <img class="tone g2" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename g2">
            G2
          </div>
        </div>
      </a>
    </div>
    <div class="fret four eString">
      <a onclick="playtone('ab2','eString')" class="note-click ab2">
        <div class="note ab2">
          <img class="tone ab2" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename ab2">
            Ab2
          </div>
        </div>
        <div class="note gs2">
          <img class="tone gs2" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename gs2">
            G#2
          </div>
        </div>
      </a>
    </div>
    <div class="fret five eString">
      <a onclick="playtone('a2','eString')" class="note-click a2">
        <div class="note a2">
          <img class="tone a2" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename a2">
            A2
          </div>
        </div>
      </a>
    </div>
    <div class="fret six eString">
      <a onclick="playtone('bb2','eString')" class="note-click bb2">
        <div class="note bb2">
          <img class="tone bb2" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename bb2">
            Bb2
          </div>
        </div>
        <div class="note as2">
          <img class="tone as2" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename as2">
            A#2
          </div>
        </div>
      </a>
    </div>
    <div class="fret seven eString">
      <a onclick="playtone('b2','eString')" class="note-click b2">
        <div class="note b2">
          <img class="tone b2" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename b2">
            B2
          </div>
        </div>
      </a>
    </div>
    <div class="fret eight eString">
      <a onclick="playtone('c3','eString')" class="note-click c3">
        <div class="note c3">
          <img class="tone c3" src="/static/media/yellow_dot.svg" alt="">
          <div class="notename c3">
            C3
          </div>
        </div>
      </a>
    </div>
    <div class="fret nine eString"><a class="note-click">
      <a onclick="playtone('db3','eString')" class="note-click">
      <div class="note db3">
        <img class="tone db3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename db3">
          Db3
        </div>
      </div>
      <div class="note cs2">
        <img class="tone cs2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename cs2">
          C#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret ten eString">
    <a onclick="playtone('d3','eString')" class="note-click">
      <div class="note d3">
        <img class="tone d3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename d3">
          D3
        </div>
      </div>
    </a>
  </div>
  <div class="fret eleven eString">
    <a onclick="playtone('eb3','eString')" class="note-click">
      <div class="note eb3">
        <img class="tone eb3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename eb3">
          Eb3
        </div>
      </div>
      <div class="note ds3">
        <img class="tone ds3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ds3">
          D#3
        </div>
      </div>
    </a>
  </div>
  <div class="fret twelve eString">
    <a onclick="playtone('e3','eString')" class="note-click">
      <div class="note e3">
        <img class="tone e3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename e3">
          E3
        </div>
      </div>
    </a>
  </div>
  <div class="fret thirteen eString">
    <a onclick="playtone('f3','eString')" class="note-click">
      <div class="note f3">
        <img class="tone f3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename f3">
          F3
        </div>
      </div>
    </a>
  </div>
  <div class="fret fourteen eString">
    <a onclick="playtone('gb3','eString')" class="note-click">
      <div class="note gb3">
        <img class="tone gb3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gb3">
          Gb3
        </div>
      </div>
      <div class="note fs3">
        <img class="tone fs3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename fs3">
          F#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret fifteen eString">
    <a onclick="playtone('g3','eString')" class="note-click">
      <div class="note g3">
        <img class="tone g3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename g3">
          G3
        </div>
      </div>
    </a>
  </div>
  <div class="fret sixteen eString">
    <a onclick="playtone('ab3','eString')" class="note-click">
      <div class="note ab3">
        <img class="tone ab3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ab3">
          Ab3
        </div>
      </div>
      <div class="note gs3">
        <img class="tone gs3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gs3">
          G#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret seventeen eString">
    <a onclick="playtone('a3','eString')" class="note-click">
      <div class="note a3">
        <img class="tone a3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename a3">
          A3
        </div>
      </div>
    </a>
  </div>

  <!-- b-String -->
  <div class="fret one bString">
    <a onclick="playtone('c2','bString')" class="note-click">
      <div class="note c2">
        <img class="tone c2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename c2">
          C2
        </div>
      </div>
    </a>
  </div>
  <div class="fret two bString">
    <a onclick="playtone('db2','bString')" class="note-click">
      <div class="note db2">
        <img class="tone db2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename db2">
          Db2
        </div>
      </div>
      <div class="note cs2">
        <img class="tone cs2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename cs2">
          C#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret three bString">
    <a onclick="playtone('d2','bString')" class="note-click">
      <div class="note d2">
        <img class="tone d2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename d2">
          D2
        </div>
      </div>
    </a>
  </div>
  <div class="fret four bString">
    <a onclick="playtone('eb2','bString')" class="note-click">
      <div class="note eb2">
        <img class="tone eb2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename eb2">
          Eb2
        </div>
      </div>
      <div class="note ds2">
        <img class="tone ds2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ds2">
          D#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret five bString">
    <a onclick="playtone('e2','bString')" class="note-click">
      <div class="note e2">
        <img class="tone e2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename e2">
          E2
        </div>
      </div>
    </a>
  </div>
  <div class="fret six bString">
    <a onclick="playtone('f2','bString')" class="note-click">
      <div class="note f2">
        <img class="tone f2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename f2">
          F2
        </div>
      </div>
    </a>
  </div>
  <div class="fret seven bString">
    <a onclick="playtone('gb2','bString')" class="note-click">
      <div class="note gb2">
        <img class="tone gb2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gb2">
          Gb2
        </div>
      </div>
      <div class="note fs2">
        <img class="tone fs2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename fs2">
          F#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret eight bString">
    <a onclick="playtone('g2','bString')" class="note-click">
      <div class="note g2">
        <img class="tone g2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename g2">
          G2
        </div>
      </div>
    </a>
  </div>
  <div class="fret nine bString">
    <a onclick="playtone('ab2','bString')" class="note-click">
      <div class="note ab2">
        <img class="tone ab2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ab2">
          Ab2
        </div>
      </div>
      <div class="note gs2">
        <img class="tone gs2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gs2">
          G#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret ten bString">
    <a onclick="playtone('a2','bString')" class="note-click">
      <div class="note a2">
        <img class="tone a2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename a2">
          A2
        </div>
      </div>
    </a>
  </div>
  <div class="fret eleven bString">
    <a onclick="playtone('bb2','bString')" class="note-click">
      <div class="note bb2">
        <img class="tone bb2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename bb2">
          Bb2
        </div>
      </div>
      <div class="note as2">
        <img class="tone as2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename as2">
          A#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret twelve bString">
    <a onclick="playtone('b2','bString')" class="note-click">
      <div class="note b2">
        <img class="tone b2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename b2">
          B2
        </div>
      </div>
    </a>
  </div>
  <div class="fret thirteen bString">
    <a onclick="playtone('c3','bString')" class="note-click">
      <div class="note c3">
        <img class="tone c3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename c3">
          C3
        </div>
      </div>
    </a>
  </div>
  <div class="fret fourteen bString">
    <a onclick="playtone('db3','bString')" class="note-click">
      <div class="note db3">
        <img class="tone db3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename db3">
          Db3
        </div>
      </div>
      <div class="note cs3">
        <img class="tone cs3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename cs3">
          C#3
        </div>
      </div>
    </a>
  </div>
  <div class="fret fifteen bString">
    <a onclick="playtone('d3','bString')" class="note-click">
      <div class="note d3">
        <img class="tone d3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename d3">
          D3
        </div>
      </div>
    </a>
  </div>
  <div class="fret sixteen bString">
    <a onclick="playtone('eb3','bString')" class="note-click">
      <div class="note eb3">
        <img class="tone eb3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename eb3">
          Eb3
        </div>
      </div>
      <div class="note ds3">
        <img class="tone ds3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ds3">
          D#3
        </div>
      </div>
    </a>
  </div>
  <div class="fret seventeen bString">
    <a onclick="playtone('e3','bString')" class="note-click">
      <div class="note e3">
        <img class="tone e3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename e3">
          E3
        </div>
      </div>
    </a>
  </div>
  <!-- g-String -->
  <div class="fret one gString">
    <a onclick="playtone('ab1','gString')" class="note-click">
      <div class="note ab1">
        <img class="tone ab1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ab1">
          Ab1
        </div>
      </div>
      <div class="note gs1">
        <img class="tone gs1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gs1">
          G#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret two gString">
    <a onclick="playtone('a1','gString')" class="note-click">
      <div class="note a1">
        <img class="tone a1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename a1">
          A1
        </div>
      </div>
    </a>
  </div>
  <div class="fret three gString">
    <a onclick="playtone('bb1','gString')" class="note-click">
      <div class="note bb1">
        <img class="tone bb1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename bb1">
          Bb1
        </div>
      </div>
      <div class="note as1">
        <img class="tone as1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename as1">
          A#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret four gString">
    <a onclick="playtone('b1','gString')" class="note-click">
      <div class="note b1">
        <img class="tone b1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename b1">
          B1
        </div>
      </div>
    </a>
  </div>
  <div class="fret five gString">
    <a onclick="playtone('c2','gString')" class="note-click">
      <div class="note c2">
        <img class="tone c2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename c2">
          C2
        </div>
      </div>
    </a>
  </div>
  <div class="fret six gString">
    <a onclick="playtone('db2','gString')" class="note-click">
      <div class="note db2">
        <img class="tone db2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename db2">
          Db2
        </div>
      </div>
      <div class="note cs2">
        <img class="tone cs2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename cs2">
          C#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret seven gString">
    <a onclick="playtone('d2','gString')" class="note-click">
      <div class="note d2">
        <img class="tone d2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename d2">
          D2
        </div>
      </div>
    </a>
  </div>
  <div class="fret eight gString">
    <a onclick="playtone('eb2','gString')" class="note-click">
      <div class="note eb2">
        <img class="tone eb2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename eb2">
          Eb2
        </div>
      </div>
      <div class="note ds2">
        <img class="tone ds2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ds2">
          D#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret nine gString">
    <a onclick="playtone('e2','gString')" class="note-click">
      <div class="note e2">
        <img class="tone e2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename e2">
          E2
        </div>
      </div>
    </a>
  </div>
  <div class="fret ten gString">
    <a onclick="playtone('f2','gString')" class="note-click">
      <div class="note f2">
        <img class="tone f2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename f2">
          F2
        </div>
      </div>
    </a>
  </div>
  <div class="fret eleven gString">
    <a onclick="playtone('gb2','gString')" class="note-click">
      <div class="note gb2">
        <img class="tone gb2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gb2">
          Gb2
        </div>
      </div>
      <div class="note fs2">
        <img class="tone fs2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename fs2">
          F#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret twelve gString">
    <a onclick="playtone('g2','gString')" class="note-click">
      <div class="note g2">
        <img class="tone g2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename g2">
          G2
        </div>
      </div>
    </a>
  </div>
  <div class="fret thirteen gString">
    <a onclick="playtone('ab2','gString')" class="note-click">
      <div class="note ab2">
        <img class="tone ab2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ab2">
          Ab2
        </div>
      </div>
      <div class="note gs2">
        <img class="tone gs2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gs2">
          G#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret fourteen gString">
    <a onclick="playtone('a2','gString')" class="note-click">
      <div class="note a2">
        <img class="tone a2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename a2">
          A2
        </div>
      </div>
    </a>
  </div>
  <div class="fret fifteen gString">
    <a onclick="playtone('bb2','gString')" class="note-click">
      <div class="note bb2">
        <img class="tone bb2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename bb2">
          Bb2
        </div>
      </div>
      <div class="note as2">
        <img class="tone as2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename as2">
          A#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret sixteen gString">
    <a onclick="playtone('b2','gString')" class="note-click">
      <div class="note b2">
        <img class="tone b2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename b2">
          B2
        </div>
      </div>
    </a>
  </div>
  <div class="fret seventeen gString">
    <a onclick="playtone('c3','gString')" class="note-click">
      <div class="note c3">
        <img class="tone c3" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename c3">
          C3
        </div>
      </div>
    </a>
  </div>
  <!-- d-String -->
  <div class="fret one dString">
    <a onclick="playtone('eb1','dString')" class="note-click">
      <div class="note eb1">
        <img class="tone eb1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename eb1">
          Eb1
        </div>
      </div>
      <div class="note ds1">
        <img class="tone ds1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ds1">
          D#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret two dString">
    <a onclick="playtone('e1','dString')" class="note-click">
      <div class="note e1">
        <img class="tone e1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename e1">
          E1
        </div>
      </div>
    </a>
  </div>
  <div class="fret three dString">
    <a onclick="playtone('f1','dString')" class="note-click">
      <div class="note f1">
        <img class="tone f1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename f1">
          F1
        </div>
      </div>
    </a>
  </div>
  <div class="fret four dString">
    <a onclick="playtone('gb1','dString')" class="note-click">
      <div class="note gb1">
        <img class="tone gb1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gb1">
          Gb1
        </div>
      </div>
      <div class="note fs1">
        <img class="tone fs1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename fs1">
          F#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret five dString">
    <a onclick="playtone('g1','dString')" class="note-click">
      <div class="note g1">
        <img class="tone g1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename g1">
          G1
        </div>
      </div>
    </a>
  </div>
  <div class="fret six dString">
    <a onclick="playtone('ab1','dString')" class="note-click">
      <div class="note ab1">
        <img class="tone ab1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ab1">
          Ab1
        </div>
      </div>
      <div class="note gs1">
        <img class="tone gs1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gs1">
          G#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret seven dString">
    <a onclick="playtone('a1','dString')" class="note-click">
      <div class="note a1">
        <img class="tone a1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename a1">
          A1
        </div>
      </div>
    </a>
  </div>
  <div class="fret eight dString">
    <a onclick="playtone('bb1','dString')" class="note-click">
      <div class="note bb1">
        <img class="tone bb1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename bb1">
          Bb1
        </div>
      </div>
      <div class="note as1">
        <img class="tone as1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename as1">
          A#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret nine dString">
    <a onclick="playtone('b1','dString')" class="note-click">
      <div class="note b1">
        <img class="tone b1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename b1">
          B1
        </div>
      </div>
    </a>
  </div>
  <div class="fret ten dString">
    <a onclick="playtone('c2','dString')" class="note-click">
      <div class="note c2">
        <img class="tone c2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename c2">
          C2
        </div>
      </div>
    </a>
  </div>
  <div class="fret eleven dString">
    <a onclick="playtone('db2','dString')" class="note-click">
      <div class="note db2">
        <img class="tone db2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename db2">
          Db2
        </div>
      </div>
      <div class="note cs2">
        <img class="tone cs2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename cs2">
          C#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret twelve dString">
    <a onclick="playtone('d2','dString')" class="note-click">
      <div class="note d2">
        <img class="tone d2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename d2">
          D2
        </div>
      </div>
    </a>
  </div>
  <div class="fret thirteen dString">
    <a onclick="playtone('eb2','dString')" class="note-click">
      <div class="note eb2">
        <img class="tone eb2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename eb2">
          Eb2
        </div>
      </div>
      <div class="note ds2">
        <img class="tone ds2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ds2">
          D#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret fourteen dString">
    <a onclick="playtone('e2','dString')" class="note-click">
      <div class="note e2">
        <img class="tone e2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename e2">
          E2
        </div>
      </div>
    </a>
  </div>
  <div class="fret fifteen dString">
    <a onclick="playtone('f2','dString')" class="note-click">
      <div class="note f2">
        <img class="tone f2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename f2">
          F2
        </div>
      </div>
    </a>
  </div>
  <div class="fret sixteen dString">
    <a onclick="playtone('gb2','dString')" class="note-click">
      <div class="note gb2">
        <img class="tone gb2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gb2">
          Gb2
        </div>
      </div>
      <div class="note fs2">
        <img class="tone fs2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename fs2">
          F#2
        </div>
      </div>
    </a>
  </div>
  <div class="fret seventeen dString">
    <a onclick="playtone('g2','dString')" class="note-click">
      <div class="note g2">
        <img class="tone g2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename g2">
          G2
        </div>
      </div>
    </a>
  </div>

  <!-- A-String -->
  <div class="fret one AString">
    <a onclick="playtone('bb0','AString')" class="note-click">
      <div class="note bb0">
        <img class="tone bb0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename bb0">
          Bb0
        </div>
      </div>
      <div class="note as0">
        <img class="tone as0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename as0">
          A#0
        </div>
      </div>
    </a>
  </div>
  <div class="fret two AString">
    <a onclick="playtone('b0','AString')" class="note-click">
      <div class="note b0">
        <img class="tone b0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename b0">
          B0
        </div>
      </div>
    </a>
  </div>
  <div class="fret three AString">
    <a onclick="playtone('c1','AString')" class="note-click">
      <div class="note c1">
        <img class="tone c1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename c1">
          C1
        </div>
      </div>
    </a>
  </div>
  <div class="fret four AString">
    <a onclick="playtone('db1','AString')" class="note-click">
      <div class="note db1">
        <img class="tone db1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename db1">
          Db1
        </div>
      </div>
      <div class="note cs1">
        <img class="tone cs1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename cs1">
          C#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret five AString">
    <a onclick="playtone('d1','AString')" class="note-click">
      <div class="note d1">
        <img class="tone d1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename d1">
          D1
        </div>
      </div>
    </a>
  </div>
  <div class="fret six AString">
    <a onclick="playtone('eb1','AString')" class="note-click">
      <div class="note eb1">
        <img class="tone eb1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename eb1">
          Eb1
        </div>
      </div>
      <div class="note ds1">
        <img class="tone ds1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ds1">
          D#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret seven AString">
    <a onclick="playtone('e1','AString')" class="note-click">
      <div class="note e1">
        <img class="tone e1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename e1">
          E1
        </div>
      </div>
    </a>
  </div>
  <div class="fret eight AString">
    <a onclick="playtone('f1','AString')" class="note-click">
      <div class="note f1">
        <img class="tone f1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename f1">
          F1
        </div>
      </div>
    </a>
  </div>
  <div class="fret nine AString">
    <a onclick="playtone('gb1','AString')" class="note-click">
      <div class="note gb1">
        <img class="tone gb1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gb1">
          Gb1
        </div>
      </div>
      <div class="note fs1">
        <img class="tone fs1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename fs1">
          F#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret ten AString">
    <a onclick="playtone('g1','AString')" class="note-click">
      <div class="note g1">
        <img class="tone g1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename g1">
          G1
        </div>
      </div>
    </a>
  </div>
  <div class="fret eleven AString">
    <a onclick="playtone('ab1','AString')" class="note-click">
      <div class="note ab1">
        <img class="tone ab1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ab1">
          Ab1
        </div>
      </div>
      <div class="note gs1">
        <img class="tone gs1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gs1">
          G#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret twelve AString">
    <a onclick="playtone('a1','AString')" class="note-click">
      <div class="note a1">
        <img class="tone a1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename a1">
          A1
        </div>
      </div>
    </a>
  </div>
  <div class="fret thirteen AString">
    <a onclick="playtone('bb1','AString')" class="note-click">
      <div class="note bb1">
        <img class="tone bb1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename bb1">
          Bb1
        </div>
      </div>
      <div class="note as1">
        <img class="tone as1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename as1">
          A#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret fourteen AString">
    <a onclick="playtone('b1','AString')" class="note-click">
      <div class="note b1">
        <img class="tone b1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename b1">
          B1
        </div>
      </div>
    </a>
  </div>
  <div class="fret fifteen AString">
    <a onclick="playtone('c2','AString')" class="note-click">
      <div class="note c2">
        <img class="tone c2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename c2">
          C2
        </div>
      </div>
    </a>
  </div>
  <div class="fret sixteen AString">
    <a class="note-click">
      <div class="note db2">
        <img class="tone db2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename db2">
          Db2
        </div>
      </div>
    </a>
  </div>
  <div class="fret seventeen AString">
    <a onclick="playtone('d2','AString')" class="note-click">
      <div class="note d2">
        <img class="tone d2" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename d2">
          D2
        </div>
      </div>
    </a>
  </div>
  <!-- E-String -->
  <div class="fret one laststring eLowString">
    <a onclick="playtone('f0','eLowString')" class="note-click">
      <div class="note f0">
        <img class="tone f0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename f0">
          F0
        </div>
      </div>
    </a>
  </div>
  <div class="fret two laststring eLowString">
    <a onclick="playtone('gb0','eLowString')" class="note-click">
      <div class="note gb0">
        <img class="tone gb0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gb0">
          Gb0
        </div>
      </div>
      <div class="note fs0">
        <img class="tone fs0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename fs0">
          F#0
        </div>
      </div>
    </a>
  </div>
  <div class="fret three laststring eLowString">
    <a onclick="playtone('g0','eLowString')" class="note-click">
      <div class="note g0">
        <img class="tone g0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename g0">
          G0
        </div>
      </div>
    </a>
  </div>
  <div class="fret four laststring eLowString">
    <a onclick="playtone('ab0','eLowString')" class="note-click">
      <div class="note ab0">
        <img class="tone ab0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ab0">
          Ab0
        </div>
      </div>
      <div class="note gs0">
        <img class="tone gs0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gs0">
          G#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret five laststring eLowString">
    <a onclick="playtone('a0','eLowString')" class="note-click">
      <div class="note a0">
        <img class="tone a0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename a0">
          A0
        </div>
      </div>
    </a>
  </div>
  <div class="fret six laststring eLowString">
    <a onclick="playtone('bb0','eLowString')" class="note-click">
      <div class="note bb0">
        <img class="tone bb0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename bb0">
          Bb0
        </div>
      </div>
      <div class="note as0">
        <img class="tone as0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename as0">
          A#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret seven laststring eLowString">
    <a onclick="playtone('b0','eLowString')" class="note-click">
      <div class="note b0">
        <img class="tone b0" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename b0">
          B0
        </div>
      </div>
    </a>
  </div>
  <div class="fret eight laststring eLowString">
    <a onclick="playtone('c1','eLowString')" class="note-click">
      <div class="note c1">
        <img class="tone c1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename c1">
          C1
        </div>
      </div>
    </a>
  </div>
  <div class="fret nine laststring eLowString">
    <a onclick="playtone('db1','eLowString')" class="note-click">
      <div class="note db1">
        <img class="tone db1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename db1">
          Db1
        </div>
      </div>
      <div class="note cs1">
        <img class="tone cs1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename cs1">
          C#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret ten laststring eLowString">
    <a onclick="playtone('d1','eLowString')" class="note-click">
      <div class="note d1">
        <img class="tone d1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename d1">
          D1
        </div>
      </div>
    </a>
  </div>
  <div class="fret eleven laststring eLowString">
    <a onclick="playtone('eb1','eLowString')" class="note-click">
      <div class="note eb1">
        <img class="tone eb1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename eb1">
          Eb1
        </div>
      </div>
      <div class="note ds1">
        <img class="tone ds1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ds1">
          D#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret twelve laststring eLowString">
    <a onclick="playtone('e1','eLowString')" class="note-click">
      <div class="note e1">
        <img class="tone e1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename e1">
          E1
        </div>
      </div>
    </a>
  </div>
  <div class="fret thirteen laststring eLowString">
    <a onclick="playtone('f1','eLowString')" class="note-click">
      <div class="note f1">
        <img class="tone f1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename f1">
          F1
        </div>
      </div>
    </a>
  </div>
  <div class="fret fourteen laststring eLowString">
    <a onclick="playtone('gb1','eLowString')" class="note-click">
      <div class="note gb1">
        <img class="tone gb1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gb1">
          Gb1
        </div>
      </div>
      <div class="note fs1">
        <img class="tone fs1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename fs1">
          F#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret fifteen laststring eLowString">
    <a onclick="playtone('g1','eLowString')" class="note-click">
      <div class="note g1">
        <img class="tone g1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename g1">
          G1
        </div>
      </div>
    </a>
  </div>
  <div class="fret sixteen laststring eLowString">
    <a onclick="playtone('ab1','eLowString')" class="note-click">
      <div class="note ab1">
        <img class="tone ab1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename ab1">
          Ab1
        </div>
      </div>
      <div class="note gs1">
        <img class="tone gs1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename gs1">
          G#1
        </div>
      </div>
    </a>
  </div>
  <div class="fret seventeen laststring eLowString">
    <a onclick="playtone('a1','eLowString')" class="note-click">
      <div class="note a1">
        <img class="tone a1" src="/static/media/yellow_dot.svg" alt="">
        <div class="notename a1">
          A1
        </div>
      </div>
    </a>
  </div>
  <!-- No-String -->
  <div class="nofret">
    I
  </div>
  <div class="nofret">
    II
  </div>
  <div class="nofret">
    III
  </div>
  <div class="nofret">
    IV
  </div>
  <div class="nofret">
    V
  </div>
  <div class="nofret">
    VI
  </div>
  <div class="nofret">
    VII
  </div>
  <div class="nofret">
    VIII
  </div>
  <div class="nofret">
    IX
  </div>
  <div class="nofret">
    X
  </div>
  <div class="nofret">
    XI
  </div>
  <div class="nofret">
    XII
  </div>
  <div class="nofret">
    XIII
  </div>
  <div class="nofret">
    XIV
  </div>
  <div class="nofret">
    XV
  </div>
  <div class="nofret">
    XVI
  </div>
  <div class="nofret">
    XVII
  </div>
</div>

{% block fretboard %}
{% endblock %}
</div>
<script type="text/javascript">

function show_tension_notes() {
  var x = document.getElementById('position_select').value
  var y = document.getElementById('note_range').value

  var i = 0;
  for (var key in voicing_data[y][x][0]) {
    if (voicing_data[y][x][0].hasOwnProperty(key)) {
      var tone = voicing_data[y][x][0][key][0]
      var tension_name = voicing_data[y][x][0][key][1]

      var QuerySelect = '.' + key + ' .notename.' + tone + '.active';
      var selection = document.getElementsByClassName("note active " + tone)[0];
      if (typeof selection !== "undefined") {
          /* creating a div for tension notes */
          var node = document.createElement("DIV");
          node.className = "tensionname";
          document.getElementsByClassName("active note " + tone)[0].appendChild(node);
          var textnode = document.createTextNode(tension_name);
          node.appendChild(textnode);
          /* Remove class for not showing Notename */
          var QuerySelect = '.' + key + ' .notename.' + tone + '.active';
          $(QuerySelect).removeClass('active');

      }
    }
    /* add class active for showing up */
    QuerySelect = '.tensionname'
    $(QuerySelect).addClass('active');
    $("#show_tension_button").attr("onclick","getToneNameFromData()");
    $("#show_tension_button").text('Tone Names');
  }

}

function getToneNameFromData() {
  $("#show_tension_button").attr("onclick","show_tension_notes()");
  $("#show_tension_button").text('Show Tensions');
  var pos_val = document.getElementById('position_select').value
  var note_range = document.getElementById('note_range').value
  getTonesFromData(pos_val, note_range)
}

function playNoteNames() {
  var range_length = $('.note.active').length
  for (let i = 0; i <= range_length; i++) {
    setTimeout(function() {
      var order = parseInt(range_length - i)
      $('.notename.active')[order].click(); }, i * 1000
      );
  }
}

</script>
<!-- Fretboard Form Script -->
<script type="text/javascript">
  var x, i, j, selElmnt, a, b, c;
  /* Look for any elements with the class "sfbsf": */
  x = document.getElementsByClassName("sfbsfnr");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /* For each element, create a new DIV that will act as the selected item: */
    a = document.createElement("DIV");
    a.setAttribute("class", "sese");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /* For each element, create a new DIV that will contain the option list: */
    b = document.createElement("DIV");
    b.setAttribute("class", "slit sehi");
    for (j = 1; j < selElmnt.length; j++) {
      /* For each option in the original select element,
      create a new DIV that will act as an option item: */
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("swasd");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "swasd");
            break;
          }
        }
        h.click();
        var pos_val = document.getElementById('position_select').value
        var note_range = document.getElementById('note_range').value
        getTonesFromData(pos_val, note_range)
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
      /* When the select box is clicked, close any other select boxes,
      and open/close the current select box: */
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("sehi");
      this.classList.toggle("slar-active");
    });
  }
  function closeAllSelect(elmnt) {
    /*  Close all select boxes in the document,
    except the current select box: */
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("slit");
    y = document.getElementsByClassName("sese");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("slar-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("sehi");
      }
    }
  }
  /* If the user clicks anywhere outside the select box,
  then close all select boxes: */
  document.addEventListener("click", closeAllSelect);

  var x, i, j, selElmnt, a, b, c;
  /* Look for any elements with the class "sfbsf": */
  x = document.getElementsByClassName("sfbsf");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /* For each element, create a new DIV that will act as the selected item: */
    a = document.createElement("DIV");
    a.setAttribute("class", "sese");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /* For each element, create a new DIV that will contain the option list: */
    b = document.createElement("DIV");
    b.setAttribute("class", "slit sehi");
    for (j = 1; j < selElmnt.length; j++) {
      /* For each option in the original select element,
      create a new DIV that will act as an option item: */
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("swasd");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "swasd");
            break;
          }
        }
        h.click();
        $("#fretboard_form").submit();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
      /* When the select box is clicked, close any other select boxes,
      and open/close the current select box: */
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("sehi");
      this.classList.toggle("slar-active");
    });
  }

  function closeAllSelect(elmnt) {
    /*  Close all select boxes in the document,
    except the current select box: */
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("slit");
    y = document.getElementsByClassName("sese");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("slar-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("sehi");
      }
    }
  }

  /* If the user clicks anywhere outside the select box,
  then close all select boxes: */
  document.addEventListener("click", closeAllSelect);

  var x, i, j, selElmnt, a, b, c;
  /* Look for any elements with the class "sfbsf": */
  x = document.getElementsByClassName('catsfbsf');
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /* For each element, create a new DIV that will act as the selected item: */
    a = document.createElement("DIV");
    a.setAttribute("class", "sese");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /* For each element, create a new DIV that will contain the option list: */
    b = document.createElement("DIV");
    b.setAttribute("class", "slit sehi");
    for (j = 1; j < selElmnt.length; j++) {
      /* For each option in the original select element,
      create a new DIV that will act as an option item: */
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("swasd");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "swasd");
            break;
          }
        }
        h.click();
        var pos_val = document.getElementById('position_select').value
        var note_range = document.getElementById('note_range').value
        getTonesFromData(pos_val, note_range)
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
      /* When the select box is clicked, close any other select boxes,
      and open/close the current select box: */
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("sehi");
      this.classList.toggle("slar-active");
    });
  }


  function closeAllSelect(elmnt) {
    /*  Close all select boxes in the document,
    except the current select box: */
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("slit");
    y = document.getElementsByClassName("sese");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("slar-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("sehi");
      }
    }
  }

  /* If the user clicks anywhere outside the select box,
  then close all select boxes: */
  document.addEventListener("click", closeAllSelect);

  var x, i, j, selElmnt, a, b, c;
  /* Look for any elements with the class "sfbsf": */
  x = document.getElementsByClassName("sfbsfpos");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /* For each element, create a new DIV that will act as the selected item: */
    a = document.createElement("DIV");
    a.setAttribute("class", "sese");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /* For each element, create a new DIV that will contain the option list: */
    b = document.createElement("DIV");
    b.setAttribute("class", "slit sehi");
    for (j = 1; j < selElmnt.length; j++) {
      /* For each option in the original select element,
      create a new DIV that will act as an option item: */
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("swasd");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "swasd");
            break;
          }
        }
        h.click();
        var pos_val = document.getElementById('position_select').value
        var note_range = document.getElementById('note_range').value
        getTonesFromData(pos_val, note_range)
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
      /* When the select box is clicked, close any other select boxes,
      and open/close the current select box: */
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("sehi");
      this.classList.toggle("slar-active");
    });
  }

  function closeAllSelect(elmnt) {
    /*  Close all select boxes in the document,
    except the current select box: */
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("slit");
    y = document.getElementsByClassName("sese");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("slar-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("sehi");
      }
    }
  }

  /* If the user clicks anywhere outside the select box,
  then close all select boxes: */
  document.addEventListener("click", closeAllSelect);
</script>

<script type="text/javascript">


  // getting Tones from Function 0=Template
  window.onload = getTonesFromData("Basic Position", "e - d")

  // scroll Cookie for submitting form
  $(document).ready(function() {
    if (localStorage.getItem("scroll") != null) {
      $(window).scrollTop(localStorage.getItem("scroll"));
    }

    $(window).on("scroll", function() {
      localStorage.setItem("scroll", $(window).scrollTop());
    });

  });

</script>
{% block footer %}
{% endblock %}
