{% load static %}

<!-- JQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- CSS fretboard -->
<link rel="stylesheet" href="{% static "css/fretboard.css" %}" type="text/css" media="screen">

<!-- Dosis Font -->
<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

<!-- Play function -->
<script type="text/javascript">
  function playtone(x, y){
    var audio = new Audio('static/media/tone_sounds/' + x + '.wav');
    var string = '.' + y
    audio.play();
    if ( $(string + ' img.tone.' + x + '.active').hasClass( 'root') ) {
    $(string + ' img.tone.' + x + '.active').attr('src', '/static/media/red_dot_active.svg');
    setTimeout(function () {
      $(string + ' img.tone.' + x + '.active').attr('src', '/static/media/red_dot.svg');
    }, 300)
    }
    else {
    $(string + ' img.tone.' + x + '.active').attr('src', '/static/media/yellow_dot_active.svg');
    setTimeout(function () {
      $(string + ' img.tone.' + x + '.active').attr('src', '/static/media/yellow_dot.svg');
    }, 300)
    }
  }
</script>
<script type="text/javascript">
  var voicing_data = {{ chord_json_data|safe }}

  function getTonesFromData(x, y){
    /* Resetting Fretboard */
    $('img.tone').removeClass('active')
    $('.notename').removeClass('active')
    $('.note').removeClass('active')
    $('.tensionname').remove()
    $('.tone').attr('src', '/static/media/yellow_dot.svg')

    /* x sets the id of inversions */
    var i = 0;
    for (var key in voicing_data[y][x][0]) {
      if (voicing_data[y][x][0].hasOwnProperty(key)) {
        var tone = voicing_data[y][x][0][key][0]
        var tone_name = voicing_data[y][x][0][key][2]

        var QuerySelect = '.' + key + ' img.tone.' + tone;
        $(QuerySelect).addClass('active');
        var QuerySelect = '.' + key + ' .notename.' + tone;
        $(QuerySelect).addClass('active');
        /* Check every note that has a defined Query for not activating all chord tones */
        var QuerySelect = '.' + key + ' .note.' + tone;
        $(QuerySelect).addClass('active');
      }
    }

    /* Change for RootNote Color */
    var string_array = ['eString', 'bString', 'gString', 'dString', 'AString', 'eLowString']
    for (var key in voicing_data.root) {
      if (voicing_data.root.hasOwnProperty(key)) {
        var root = voicing_data.root[key]
        for (i = 0; i < string_array.length; i++) {
          string = string_array[i];
          QuerySelect = '.' + string + ' img.tone.active.' + root
          $(QuerySelect).attr('src', '/static/media/red_dot.svg');
          $(QuerySelect).addClass('root');
        }
      }
    }
  }

</script>
{% block header %}
{% endblock %}

<div class="mbs">

{% block heading %}
{% endblock %}

<form id="fretboard_form" action="" method="get" style="text-align: center;">
  <div class="sfbsf" id="catsfbsf">
    <select name="models_select" id="models_select">
      <option value="1" id="cat1">{{ category|first }}</option>
      {% for category_option in category %}
      {% if selected_category == category_option.id %}
      <option value="{{ category_option.id }}" id="cat{{ category_option.id }}" selected>{{ category_option.category_name }}</option>
      {% else %}
      <option value="{{ category_option.id }}" id="cat{{ category_option.id }}">{{ category_option.category_name }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="sfbsf">
    <select name="root" id="root">
      <option value="{{ root_id }}" selected>{{ root_name }}</option>
      {% for option in root_options %}
      <option value="{{ option.id }}">{{ option.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="sfbsf">
    <select name="type_options_select" id="type_options_select">
      <option value="{{ type_options|first }}">{{ type_options|first }}</option>
      {% for option in type_options %}
      {% if selected_type == option %}
      <option value="{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ option }}">{{ option }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="sfbsf">
    <select name="chords_options_select" id="chords_options_select">
      <option value="{{ chord_options|first }}">{{ chord_options|first }}</option>
      {% for option in chord_options %}
      {% if selected_chord == option %}
      <option value="{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ option }}">{{ option }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="sfbsfnr">
    <select name="note_range" id="note_range">
      <option value="{{ first_range_option }}">{{ first_range_option }}</option>
      {% for option in range_options %}
      <option value="{{ option.range }}">{{ option.range }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="sfbsfpos">
    <select name="position_select" id="position_select">
      <option value="Basic Position">Basic Position</option>
      {% for option in position_options %}
      <option value="{{ option.inversion_order }}">{{ option.inversion_order }}</option>
      {% endfor %}

    </select>
  </div>
  <button id="show_tension_button" type="button" onclick=show_tension_notes() style="width: 8em;">Show Tensions</button>

</form>
<br>
{% block form %}
{% endblock %}

{% include 'fretboard_fretboard.html' %}

<script type="text/javascript">

function show_tension_notes() {
  var x = document.getElementById('position_select').value
  var y = document.getElementById('note_range').value

  var i = 0;
  for (var key in voicing_data[y][x][0]) {
    if (voicing_data[y][x][0].hasOwnProperty(key)) {
      var tone = voicing_data[y][x][0][key][0]
      var tension_name = voicing_data[y][x][0][key][1]

      var QuerySelect = '.' + key + ' .notename.' + tone + '.active';
      var selection = document.getElementsByClassName("note active " + tone)[0];
      if (typeof selection !== "undefined") {
          /* creating a div for tension notes */
          var node = document.createElement("DIV");
          node.className = "tensionname";
          document.getElementsByClassName("active note " + tone)[0].appendChild(node);
          var textnode = document.createTextNode(tension_name);
          node.appendChild(textnode);
          /* Remove class for not showing Notename */
          var QuerySelect = '.' + key + ' .notename.' + tone + '.active';
          $(QuerySelect).removeClass('active');

      }
    }
    /* add class active for showing up */
    QuerySelect = '.tensionname'
    $(QuerySelect).addClass('active');
    $("#show_tension_button").attr("onclick","getToneNameFromData()");
    $("#show_tension_button").text('Tone Names');
  }

}

function getToneNameFromData() {
  $("#show_tension_button").attr("onclick","show_tension_notes()");
  $("#show_tension_button").text('Show Tensions');
  var pos_val = document.getElementById('position_select').value
  var note_range = document.getElementById('note_range').value
  getTonesFromData(pos_val, note_range)
}

function playNoteNames() {
  var range_length = $('.note.active').length
  for (let i = 0; i <= range_length; i++) {
    setTimeout(function() {
      var order = parseInt(range_length - i)
      $('.notename.active')[order].click(); }, i * 1000
      );
  }
  setTimeout(function(){ $('.notename.active').click(); }, (range_length + 1) * 1000);
}

</script>
<!-- Fretboard Form Script -->
<script type="text/javascript">
  function navBarFretboardChords(class_name){
    var x, i, j, selElmnt, a, b, c;
    /* Look for any elements with the class "sfbsf": */
    x = document.getElementsByClassName(class_name);
    for (i = 0; i < x.length; i++) {
      selElmnt = x[i].getElementsByTagName("select")[0];
      /* For each element, create a new DIV that will act as the selected item: */
      a = document.createElement("DIV");
      a.setAttribute("class", "sese");
      a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
      x[i].appendChild(a);
      /* For each element, create a new DIV that will contain the option list: */
      b = document.createElement("DIV");
      b.setAttribute("class", "slit sehi");
      for (j = 1; j < selElmnt.length; j++) {
        /* For each option in the original select element,
        create a new DIV that will act as an option item: */
        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {
          /* When an item is clicked, update the original select box,
          and the selected item: */
          var y, i, k, s, h;
          s = this.parentNode.parentNode.getElementsByTagName("select")[0];
          h = this.parentNode.previousSibling;
          for (i = 0; i < s.length; i++) {
            if (s.options[i].innerHTML == this.innerHTML) {
              s.selectedIndex = i;
              h.innerHTML = this.innerHTML;
              y = this.parentNode.getElementsByClassName("swasd");
              for (k = 0; k < y.length; k++) {
                y[k].removeAttribute("class");
              }
              this.setAttribute("class", "swasd");
              break;
            }
          }
          h.click();
          var pos_val = document.getElementById('position_select').value
          var note_range = document.getElementById('note_range').value
          getTonesFromData(pos_val, note_range)
        });
        b.appendChild(c);
      }
      x[i].appendChild(b);
      a.addEventListener("click", function(e) {
        /* When the select box is clicked, close any other select boxes,
        and open/close the current select box: */
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("sehi");
        this.classList.toggle("slar-active");
      });
    }
  }
  window.onload = navBarFretboardChords("sfbsfnr")
  window.onload = navBarFretboardChords("catsfbsf")
  window.onload = navBarFretboardChords("sfbsfpos")

  function closeAllSelect(elmnt) {
    /*  Close all select boxes in the document,
    except the current select box: */
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("slit");
    y = document.getElementsByClassName("sese");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("slar-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("sehi");
      }
    }
  }
  /* If the user clicks anywhere outside the select box,
  then close all select boxes: */
  document.addEventListener("click", closeAllSelect);

  var x, i, j, selElmnt, a, b, c;
  /* Look for any elements with the class "sfbsf": */
  x = document.getElementsByClassName("sfbsf");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /* For each element, create a new DIV that will act as the selected item: */
    a = document.createElement("DIV");
    a.setAttribute("class", "sese");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /* For each element, create a new DIV that will contain the option list: */
    b = document.createElement("DIV");
    b.setAttribute("class", "slit sehi");
    for (j = 1; j < selElmnt.length; j++) {
      /* For each option in the original select element,
      create a new DIV that will act as an option item: */
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("swasd");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "swasd");
            break;
          }
        }
        h.click();
        $("#fretboard_form").submit();
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
      /* When the select box is clicked, close any other select boxes,
      and open/close the current select box: */
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("sehi");
      this.classList.toggle("slar-active");
    });
  }

</script>

<script type="text/javascript">
  // getting Tones from Function 0=Template
  var pos_val = document.getElementById('position_select').value
  var note_range = document.getElementById('note_range').value
  window.onload = getTonesFromData(pos_val, note_range)

  // scroll Cookie for submitting form
  $(document).ready(function() {
    if (localStorage.getItem("scroll") != null) {
      $(window).scrollTop(localStorage.getItem("scroll"));
    }

    $(window).on("scroll", function() {
      localStorage.setItem("scroll", $(window).scrollTop());
    });

  });

</script>
{% block footer %}
{% endblock %}
