{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guitar Positions</title>
  <!-- CSS files -->
  <link rel="stylesheet" href="{% static 'css/fretboard.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'css/overlay-menu.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'css/info-icon.css' %}" type="text/css" media="screen">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

  {% include "favicon.html" %}
  {% if chord_options %}
  <script type="text/javascript">
    var voicing_data = {{ chord_json_data|safe }};
  </script>
  {% else %}
  <script type="text/javascript">
    var scale_data = {{ scale_json_data|safe }};
  </script>
  {% endif %}

  <script src="{% static '/js/base.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta name="title" content="Fretboard-Position-Finder">
  <meta name="description" content="Position Generator on Guitar-Fretboard for Scales, Arpeggios, Chords in all 12 Keys">

  <!-- Social Media Meta -->
  <meta property="og:title" content="Guitar Positions">
  <meta property="og:description" content="Position Generator on Guitar-Fretboard for Scales, Arpeggios, Chords in all 12 Keys">
  <meta property="og:image" content="static/thumbnail/facebook/home.jpg">
  <meta property="og:url" content="https://guitar-positions.org">

  <meta name="twitter:title" content="Guitar Positions">
  <meta name="twitter:description" content="Position Generator on Guitar-Fretboard for Scales, Arpeggios, Chords in all 12 Keys">
  <meta name="twitter:image" content="static/thumbnail/twitter/home.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <!-- JS Scripts -->
  <script src="{% static 'js/form.js' %}"></script>

  {% if chord_options %}
    <script src="{% static 'js/base_chords.js' %}"></script>
  {% else %}
    <script src="{% static 'js/base_scales.js' %}"></script>
  {% endif %}

  {% block head %}
  {% endblock %}
</head>
<body>
  {% include "sidebar/sidebar.html" %}
  {% include "overlay-menu/overlay-menu.html" %}
  <!-- Info Icon -->
  <div id="infoToggle">
    <img src="{% static 'media/svg/info-icon.svg' %}" alt="Info Icon" class="info-icon">
  </div>

  <!-- Script for Menu -->
  <script src="{% static 'js/sidebar.js' %}"></script>
  <script src="{% static 'js/overlay-menu.js' %}"></script>
  <script src="{% static 'js/info-icon.js' %}"></script>
  <div class="mbs">
    {% block heading %}
    {% endblock %}
    {% if chord_options %}
      {% include "forms/fretboard_form_chords.html" %}
    {% else %}
      {% include "forms/fretboard_form.html" %}
    {% endif %}
    <br>
    {% if chord_options %}
      {% include "analysis/container_chords.html" %}
    {% else %}
       {% include "analysis/container_scales.html" %}
    {% endif %}
    {% include 'fretboard_fretboard.html' %}
  </div>

  <footer>
    {% include "footer/footer.html" %}
  </footer>

  {% if chord_options %}
    <!-- Fretboard Form Script -->
    <script src="{% static 'js/fretboard_chords.js' %}"></script>
  {% else %}
    <script src="{% static 'js/fretboard_scales.js' %}"></script>
  {% endif %}
  {% block footer %}
  {% endblock %}
</body>
</html>
