{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Guitar Positions</title>
  <!-- CSS fretboard -->
  <link rel="stylesheet" href="{% static "css/fretboard.css" %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static "css/form.css" %}" type="text/css" media="screen">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

  {% include "favicon.html" %}

  <script type="text/javascript">
    var scale_data = {{ scale_json_data|safe }}
  </script>

  <script src="{% static '/js/base.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta name="title" content="Fretboard-Position-Finder">
  <meta name="description" content="Position Generator on Guitar-Fretboard for Scales, Arpeggios, Chords in all 12 Keys">

  <!-- Social Media Meta --->
  <meta property="og:title" content="Guitar Positions">
  <meta property="og:description" content="Position Generator on Guitar-Fretboard for Scales, Arpeggios, Chords in all 12 Keys">
  <meta property="og:image" content="static/thumbnail/facebook/home.jpg">
  <meta property="og:url" content="https://guitar-positions.org">

  <meta name="twitter:title" content="Guitar Positions">
  <meta name="twitter:description" content="Position Generator on Guitar-Fretboard for Scales, Arpeggios, Chords in all 12 Keys">
  <meta name="twitter:image" content="static/thumbnail/twitter/home.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Script for Opening Menu Overlay -->
  <script src="{% static '/js/form.js' %}"></script>

</head>
{% block head %}
{% endblock %}

<div class="mbs">
  {% block heading %}
  {% endblock %}

  {% include "forms/fretboard_form.html" %}


  <br>
  <!--- Analysis Container -->
  <div class="analysis_container" style="text-align: center;">
    <h2>{{ selected_category_name }}</h2>
    <h3>{{ selected_root_name }} {{ selected_notes_name }}</h3>
    Tensions:
    {% for tension in tensions %}
    <b>{{ tension }}</b>
    {% endfor %}
    <br>
    Notenames:
    {% for note_name in note_names %}
    <b>{{ note_name }}</b>
    {% endfor %}
    {% if chord_name %}  
      <br>
      Chord:
      <b>{{ chord_name }}</b>
    {% endif %}
  </div>
  {% include 'fretboard_fretboard.html' %}


</div>
{% block fretboard %}
{% endblock %}
<footer>
  <div class="container">
    <p>Made With Love | Source-Code Available On GitHub:</p>
    <a target="_blank" href="https://github.com/hybridpicker/fretboard-position-finder">

      <svg version="1.1" id="github" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 384 384" style="height:4rem;" xml:space="preserve">

      <path id="path" class="st0" d="M0,184.5c1-7.1,1.6-14.4,2.9-21.4C13.4,106.8,43,63.3,91.3,33c75.1-47,179.1-36.4,243.2,35.6
      c26.8,30.1,42.7,65.3,47.4,105.5c9.3,79.3-31.2,156.5-101.6,192.8c-8.5,4.4-17.5,7.9-26.4,11.3c-9,3.4-14.5-0.7-14.6-10.5
      c-0.1-19,0-38-0.5-57c-0.2-10.9-3.8-20.8-12.2-29.1c5.6-0.9,10.8-1.7,16-2.6c12-2.1,23.3-6.4,33.8-12.5c14.8-8.5,24.9-20.9,30.5-37
      c7-20.5,9.2-41.4,4.5-62.7c-2.5-11.2-7.9-21-15.5-29.5c-1.3-1.5-1.6-2.7-0.9-4.6c5.6-15.8,3.6-31.2-2.2-46.5
      c-0.4-1.1-2.1-2.5-3.1-2.4c-5,0.5-10.2,0.8-15,2.3c-11.6,3.6-22.2,9.4-32.4,16c-1.5,1-4,1.4-5.8,0.9c-29.9-7.4-59.7-7.5-89.6,0
      c-1.8,0.4-4.3,0-5.8-1c-11.1-7.3-23.1-12.9-35.8-16.7c-3.9-1.2-8.1-1.2-12.1-1.4c-1,0-2.7,1.3-3.1,2.4c-5.6,15.3-7.4,30.7-2,46.5
      c0.4,1.2,0,3.2-0.8,4.2c-11.8,13.9-17.7,29.9-17.9,48.1c-0.1,12.6,1.2,24.9,4.4,37.1c6.8,25.6,22.9,42.7,47.5,51.3
      c11.1,3.9,22.8,6,34.2,8.9c-4.7,4.9-8.8,11.3-9.8,18.8c-0.8,5.7-3.8,7.6-8.7,8.8c-13.6,3.3-26.9,4.3-38-6.1c-3.9-3.6-7.1-8-10-12.5
      c-6.7-10.1-15.3-17.5-27.5-19.6c-2.7-0.5-5.7,0-8.5,0.5c-2.3,0.4-3.1,2.3-1.5,4.2c1.8,2.2,3.6,4.7,5.9,6.1
      c9.1,5.2,14.5,13.5,19.1,22.4c1,1.9,1.8,3.8,2.6,5.8c5.2,14.3,16.1,21.3,30.6,23.6c11.2,1.8,22.3,1.9,33.5-0.4
      c0.3,0.5,0.6,0.8,0.6,1.1c0.2,11.4,0.5,22.7,0.4,34.1c-0.1,8.1-6.3,12.2-14.4,9.1c-9.2-3.5-18.5-6.9-27.1-11.6
      c-53.4-29.1-86.6-73.5-99.2-133.2c-1.4-6.8-1.9-13.8-2.8-20.8c-0.2-1.5-0.4-2.9-0.7-4.4C0,200.5,0,192.5,0,184.5z"/>
    </svg>
  </a>
</div>
</footer>
<script type="text/javascript">
  /* Nots Options Scale Select Field  */
  var x, i, j, selElmnt, a, b, c;
  /* Look for any elements with the class "sfbsf": */
  x = document.getElementsByClassName("sfbsfnos");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /* For each element, create a new DIV that will act as the selected item: */
    a = document.createElement("DIV");
    a.setAttribute("class", "sese");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /* For each element, create a new DIV that will contain the option list: */
    b = document.createElement("DIV");
    b.setAttribute("class", "slit sehi");
    for (j = 1; j < selElmnt.length; j++) {
      /* For each option in the original select element,
      create a new DIV that will act as an option item: */
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("swasd");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "swasd");
            break;
          }
        }
        h.click();
        document.getElementById('position_select').value = 0
        document.getElementById("fretboard_form").submit()
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
      /* When the select box is clicked, close any other select boxes,
      and open/close the current select box: */
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("sehi");
      this.classList.toggle("slar-active");
    });
  }
  function closeAllSelect(elmnt) {
    /*  Close all select boxes in the document,
    except the current select box: */
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("slit");
    y = document.getElementsByClassName("sese");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("slar-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("sehi");
      }
    }
  }
  /* If the user clicks anywhere outside the select box,
  then close all select boxes: */
  document.addEventListener("click", closeAllSelect);

  /* Nots Options Scale Select Field  */
  var x, i, j, selElmnt, a, b, c;
  /* Look for any elements with the class "sfbsf": */
  x = document.getElementsByClassName("sfbsfpos");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /* For each element, create a new DIV that will act as the selected item: */
    a = document.createElement("DIV");
    a.setAttribute("class", "sese");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /* For each element, create a new DIV that will contain the option list: */
    b = document.createElement("DIV");
    b.setAttribute("class", "slit sehi");
    for (j = 1; j < selElmnt.length; j++) {
      /* For each option in the original select element,
      create a new DIV that will act as an option item: */
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("swasd");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "swasd");
            break;
          }
        }
        h.click();
        pos_val = document.getElementById('position_select').value
        getTonesFromDataScales(pos_val)
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
      /* When the select box is clicked, close any other select boxes,
      and open/close the current select box: */
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("sehi");
      this.classList.toggle("slar-active");
    });
  }
  function closeAllSelect(elmnt) {
    /*  Close all select boxes in the document,
    except the current select box: */
    var x, y, i, arrNo = [];
    x = document.getElementsByClassName("slit");
    y = document.getElementsByClassName("sese");
    for (i = 0; i < y.length; i++) {
      if (elmnt == y[i]) {
        arrNo.push(i)
      } else {
        y[i].classList.remove("slar-active");
      }
    }
    for (i = 0; i < x.length; i++) {
      if (arrNo.indexOf(i)) {
        x[i].classList.add("sehi");
      }
    }
  }
  /* If the user clicks anywhere outside the select box,
  then close all select boxes: */
  document.addEventListener("click", closeAllSelect);

  var x, i, j, selElmnt, a, b, c;
  /* Look for any elements with the class "sfbsf": */
  x = document.getElementsByClassName("sfbsf");
  for (i = 0; i < x.length; i++) {
    selElmnt = x[i].getElementsByTagName("select")[0];
    /* For each element, create a new DIV that will act as the selected item: */
    a = document.createElement("DIV");
    a.setAttribute("class", "sese");
    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
    x[i].appendChild(a);
    /* For each element, create a new DIV that will contain the option list: */
    b = document.createElement("DIV");
    b.setAttribute("class", "slit sehi");
    for (j = 1; j < selElmnt.length; j++) {
      /* For each option in the original select element,
      create a new DIV that will act as an option item: */
      c = document.createElement("DIV");
      c.innerHTML = selElmnt.options[j].innerHTML;
      c.addEventListener("click", function(e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("swasd");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "swasd");
            break;
          }
        }
        h.click();
        document.getElementById("fretboard_form").submit()
      });
      b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
      /* When the select box is clicked, close any other select boxes,
      and open/close the current select box: */
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("sehi");
      this.classList.toggle("slar-active");
    });
  }

  document.addEventListener("click", closeAllSelect);
</script>
<script type="text/javascript">
  pos_val = document.getElementById('position_select').value
  var url_string = window.location.href
  var url = new URL(url_string);
  var pos_val = url.searchParams.get("position_select");
  if (pos_val){
    window.onload = getTonesFromDataScales(pos_val)
  }
  else {
    window.onload = getTonesFromDataScales('0')
  }

</script>
{% block footer %}
{% endblock %}
