{% load static %}
{% load filters %}

<div id="fretboardcontainer" class="fretboardcontainer">
  <div class="left-cursor" onclick="leftCursorClick()"></div>
  <div class="right-cursor" onclick="rightCursorClick()"></div>
  <div class="fretboard">
    <!-- Distance for first String -->
    {% for i in 17|times %}
      <div class="spacing-top">
        <div class="fret"></div>
      </div>
    {% endfor %}

    {% for string_name in string_names %}
      {% for i in 17|times %}
        <div class="fret {{ i }} {{ string_name }}">
          {% with notes=string_name|get_notes:i %}
          {% if notes %}
            <a onclick="playTone('{{ notes|join:"','" }}','{{ string_name }}')" class="note-click {{ notes|first }}">
              {% for note in notes %}
              <div class="note {{ note }}">
                <img class="tone {{ note }}" src="{% static 'media/yellow_dot.svg' %}" alt="">
                <div class="notename {{ note }}">
                  {{ note|upper }}
                </div>
              </div>
              {% endfor %}
            </a>
          {% endif %}
          {% endwith %}
        </div>
      {% endfor %}
    {% endfor %}

    <!-- Distance for last String -->
    {% for i in 17|times %}
      <div class="spacing-bottom"></div>
    {% endfor %}

    <!-- No-String -->
    {% for i in 17|times %}
      <div class="nofret">{{ i|to_roman }}</div>
    {% endfor %}
  </div>
</div>
{% block fretboard %}
{% endblock %}
