<!-- templates/fretboard_fretboard.html -->
{% load static %}
{% load custom_tags %}
{% load filters %}

<div id="fretboardcontainer" class="fretboardcontainer {% if eight_string_mode %}eight-string-config{% else %}six-string-config{% endif %}">
  <div class="left-cursor" onclick="leftCursorClick()"></div>
  <div class="right-cursor" onclick="rightCursorClick()"></div>
  <div class="fretboard">
    <!-- Distance for first String -->
    {% for i in 17|times %}
      <div class="spacing-top">
        <div class="fret"></div>
      </div>
    {% endfor %}

    <!-- Loop through string names and frets -->
    {% for string_name in string_names %}
      {% for i in 17|times %}
        <div class="fret {{ i|to_english }} {{ string_name }}">
          {% with notes=string_name|get_notes:i %}
          {% if notes %}
            <a onclick="playTone('{{ notes.0 }}','{{ string_name }}')" class="note-click">
              {% for note in notes %}
              <div class="note {{ note }}">
                <img class="tone {{ note }}" src="{% static 'media/circle_01.svg' %}" alt="">
                <div class="notename {{ note }}">
                  {{ note|format_note_name }}
                </div>
              </div>
              {% endfor %}
            </a>
          {% endif %}
          {% endwith %}
        </div>
      {% endfor %}
    {% endfor %}

    <!-- Distance for last String -->
    {% for i in 17|times %}
      <div class="spacing-bottom"></div>
    {% endfor %}

    <!-- No-String -->
    {% for i in 17|times %}
      <div class="nofret">{{ i|to_roman }}</div>
    {% endfor %}
  </div>
</div>
{% block fretboard %}
{% endblock %}
